@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: "Source Sans 3", sans-serif;
    letter-spacing: 1px;
    color: #333;
}

h1,
h2 {
    color: white;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.wrapper-container {
    max-width: 100%;
    height: 70px;
    background: white;
}

.flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo img {
    width: 40px;
    height: 40px;
}


.navbar ul {
    gap: 62px;
    list-style: none;
}

.navbar ul li {
    padding-bottom: 9px;
}

.navbar ul li:first-child {
    border-bottom: 2px solid #00754a;
}

.navbar ul li a {
    color: #1a1e21 !important;
}

.search-bar {
    width: 260px;
    border-radius: 16px;
    background: white;
    padding: 4px 0px;
    border: none;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.search-bar img {
    margin: 4px 16px;
}

.search-bar input {
    font-size: 16px;
    border: none;
    outline: none;
}

.search-bar input::placeholder {
    font-size: 12px;
}

.search-bar input::content {
    border: none;
    outline: none;
}

.account a img {
    width: 36px;
}

/*  */
.white-space {
    max-width: 100%;
    height: 30px;
    color: white;
}




.card-container {
    height: 70px;
    background: #1E3932;
}

.margin-flex {
    width: 88%;
    margin: 0 auto;
    justify-content: space-between;
}

.card-box1 h2 {
    font-size: 1.1em;
    font-weight: 400;
}

.card-box2 .btn {
    font-size: .8em;
    font-weight: 600;
    cursor: pointer;
    background-color: transparent;
    color: white;
    padding: 10px 20px;
    border: 2px white solid;
    border-radius: 19px;
}

.banner-container {
    width: 100%;
    background: #EDEBE9;
}

.left-m {
    margin-left: 20px;
}

.innerBB-right img {
    position: absolute;
    right: 0;
    width: 53px;
}

.inner-banner-box1-text {
    padding: 35px 0;
}

.innerBB-card1-cardDetails {
    background: white;
    width: 380px;
    cursor: pointer;
    border-radius: 9px;
}

.card-img-text {
    padding: 11px 17px;
    justify-content: center;
}

.innerBB-text1 h2 {
    color: #1E3932;
}

.innerBB-text2 h4 {
    font-size: .8em;
    color: #00754a;
}

.innerBB-card1-cardDetails-img {
    padding: 8px 12px 6px;
}

.innerBB-card1-cardDetails-img img {
    width: 80px;
    height: 80px;
    border-radius: 8px;
    object-fit: cover;
}

.card-btn button {
    border-radius: 22px;
    background-color: #00754a;
}

.card-btn button:hover {
    border-radius: 22px;
    background-color: #1E3932;
}

.innerBB-card1-cardDetails-info p {
    font-weight: 400;
    font-size: 8px;
    color: black;
}

.card-price-btn {
    padding-bottom: 9px;
    margin-top: -21px;
    justify-content: space-between;
}

.inner-banner-box2 {
    padding-bottom: 25px;
    justify-content: flex-start;
}

/*  */


























/*  */
.item-container {
    max-width: 100%;
}

.item-box {
    padding: 16px 8px;
}

.item-heading-text {
    padding-left: 21px;
    padding-bottom: 25px;
}

.item-heading-text h2 {
    color: #1E3932;
}

.item-images-title {
    justify-content: space-between;
}

.item-list {
    width: 120px;
    text-align: center;
}

.item-sizes {
    width: 94px;
    border-radius: 50%;
}

.item-h4 h4 {
    font-size: .9em;
}

/*  */

.card-box-container {
    max-width: 100%;
}

.card-boxes {
    width: 310px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding-bottom: 10px;
}

.card-img img {
    max-width: 100%;
    height: 167px;
    object-fit: none;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.main-warpper-box {
    padding: 5px 13px;
}

.addtocard {
    justify-content: space-between;
}

.item-infos h5 {
    font-size: 1.1em;
}

.item-infos p {
    font-size: .7em;
}

.item-pra p {
    font-size: .6em;
}

/*  */

.background-with-banner {
    max-width: 100%;
    padding-top: 2em;
    padding-bottom: 2em;
    background: #edebe9;
}

.background-img-inner-title {
    max-width: 81%;
    justify-content: space-between;
}

.bg-padding {
    padding-bottom: 18px;
}

.bg-pra-text {
    padding-left: 19px;
    padding-top: 14px;
}

.bg-pra-text span {
    border-radius: 4px;
    background-color: white;
    color: #00754a;
    padding: 4px 6px;
    font-size: .6em;
    font-weight: 600;
}

.wrappering-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.heading-of-bg-banner {
    margin-top: 156px;
}

.heading-of-bg-banner h5 {
    padding-left: 19px;
    font-size: 1.8em;
    color: white;
}

.pra-of-bg-banner {
    width: 100%;
}

.pra-of-bg-banner p {
    width: 73%;
    padding-left: 19px;
    font-size: .8em;
    color: white;
    font-weight: 500;
}

.btn-of-bg-banner {
    margin-top: 44px;
    padding-left: 19px;
}

.btn-of-bg-banner button {
    width: 200px;
    height: 32px;
    padding: 0;
    border-radius: 16px;
    color: black;
    background: white;
    font-size: .7em;
    font-weight: 600;
}

.btn-of-bg-banner button:hover {
    width: 200px;
    height: 32px;
    padding: 0;
    border-radius: 16px;
    color: black;
    background: rgb(175, 175, 175);
    font-size: .7em;
    font-weight: 600;
}

.container-background-img {
    max-width: 80%;
    height: 400px;
    margin: 0 auto;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: inset 0px -188px 64px 0px rgba(0, 0, 0, 0.78);
    border-radius: 8px;
    background-image: url(assets/images/coffee_culture_blog_web1_c6e691b286.jpg);
}

/*  */

.main-footer-w {
    width: 100%;
    padding: 8em 2em 2em;
    background-color: #0e382c;
    color: #bbb;
    line-height: 1.5;
}

.main-footer-row {
    width: 91%;
    align-items: flex-start;
}

.paddingAdd {
    padding-right: 40px;
}

.box2-menu h5 {
    font-weight: 800;
    font-size: .9em;
}

.box2-menu ul li {
    font-weight: 400;
    font-size: .7em;
    line-height: 3.4;

}

.box2-menu ul li a {
    color: white;
}

.social-icon ul {
    display: flex;
    padding-top: 12px;
    justify-content: space-between;
}

.appsdownload {
    display: flex;
    flex-direction: column;
}

.hr-line hr {
    border: 0.1rem solid white;
}

.footer-last span {
    display: inline-block;
    color: white;
    font-weight: 300;
    padding: 15px 13px;
    font-size: .7em;
}

.flex-content {
    justify-content: space-between;
}

.copyright span {
    font-weight: 300;
    color: white;
    font-size: .6em;
}

/* Gift cards Page CSS Style*/

ul.breadcrumb {
    padding: 10px 32px;
    list-style: none;
}

ul.breadcrumb li {
    display: inline;
    font-size: 0.8em;
}

ul.breadcrumb li+li:before {
    padding: 6px;
    color: black;
    content: " \003E";
}

ul.breadcrumb li a {
    color: #424242;
    text-decoration: none;
}

ul.breadcrumb li a:hover {
    color: #575757;
    text-decoration: underline;
}

.green-container {
    width: 100%;
    background: #1e3932;
    padding: 2.5rem;
}

.banner-box-img {
    max-width: 100%;
    border-radius: 8px;
    padding-top: 11px;
    height: 220px;
    border: none;
    background-image: url(assets/images/dsahboard_banner_bg_776cab700b.jpg);
}

.inner-banner-img-leftside img {
    width: 95px;
}

.inner-banner-text {
    width: calc(100% - 95px);
}


.wrapper-section {
    background: #f2f0eb;
    width: 100%;

}

.marg-box {
    width: 84%;
}

.title-section {
    padding: 10px 6px;
    justify-content: flex-start;
    gap: 49px;
}

.card-section{
    width: 100%;
}
.max-w{
    max-width: 86%;
}
.item-1{
    width: 291px;
    height: 179px;
    background: #a1a1a1;
}
.item-img-box-1{
    width: 125px;
}
.item-img-box-1 img{
    position: relative;
    top: 11px;
    right: 31px;
    width: 100%;
    object-fit: cover;
    border-radius: 11px;
}






















/* ---Contact page CSS--- */
.contactform-bx {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.contactform-bx .box1 {
    width: 45%;
}

iframe {
    width: 600px;
    height: 450px;
}

.contactform-bx .box2 {
    width: 45%;
}

form {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    margin-right: 10px;
}

button:hover {
    background-color: #449A44;
}


.table-container {
    width: 100%;
}

table.minimalistBlack {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    border: 0px solid #000000;
    width: 80%;
    margin: auto;
    text-align: center;
    border-collapse: collapse;
}

table.minimalistBlack td,
table.minimalistBlack th {
    border: 1px solid #000000;
    padding: 5px 4px;
}

table.minimalistBlack tbody td {
    font-size: 13px;
}

table.minimalistBlack thead {
    background: #CFCFCF;
    background: -moz-linear-gradient(top, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
    background: -webkit-linear-gradient(top, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
    background: linear-gradient(to bottom, #dbdbdb 0%, #d3d3d3 66%, #CFCFCF 100%);
    border-bottom: 3px solid #000000;
}

table.minimalistBlack thead th {
    font-size: 15px;
    font-weight: bold;
    color: #000000;
    text-align: left;
}

table.minimalistBlack tfoot td {
    font-size: 14px;
}